/* css do menu */
#container{
    display: flex;
    
}
#foto-de-fundo{
    display: flex;
    height: 300px;
    /* flex é usado para deixar o conteudo alinhado na horizontal*/
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-items: flex-end;
    margin-top: 50px;



}
#foto-perfil{
        background-image: url(../image/foto-perfil.jpg); 
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid white;
         width: 180px;
        height: 180px;
        align-items: center;
        border-radius: 50%;
        align-self: flex-end;
        margin-bottom: 2vw;
        /* vw = view width */
}
/* css do sobre */
#sobre{
    min-height: 700px;
}
#sobre-1{
    padding: 20px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #6a596d;
    color: white;
}
#sobre-2{
    background-color: #6a596d;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 50px;
}
#carousel1{
    height: 95%;
    width: 95%;
}
/* css da escolaridade */
#escolaridade{
    min-height: 400px;
    background: #5a4a5d;
}
#escolaridade1{
    padding: 20px;
    padding-top: 80px;
    background-color: #5a4a5d;
    justify-items: center;

}
#escolaridade2{
    background-color: #5a4a5d;
    padding: 20px;
    padding-top: 80px;
    justify-items: center;
}
/* css dos recursos tecnicos */
#recursostecnicos{
    min-height: 800px;
    background: #4b3b4e;
}
#recursostecnicos2{
    padding: 20px;
    padding-top: 80px;
}
/* css da experiencia */
#experiencias{
    min-height: 700px;
    background: #3b2c3e;
}
#experiencias2{
    padding: 20px;
    padding-top: 90px;
}
/* css da recomendação */
#recomendacao{
    min-height: 600px;
    background: #231825;
}
/* css do contato */
#contato{
    min-height: 800px;
    background: hsl(288, 24%, 8%);
}
